<?xml version='1.0' encoding='utf-8'?>
<widget id="com.skystairgames.sg" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>StopGop</name>
    <description>
        StopGop
    </description>
    <author email="skystairgames@gmail.com" href="http://skystairgames.ru">
        Sky Stair Games Team
    </author>
    <content src="dist/index.html" />
    <preference name="orientation" value="default" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name="AllowInlineMediaPlayback" value="true"/>

    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-whitelist" />
    <gap:plugin name="cordova-plugin-purchase" source="npm" version="9.0.0"></gap:plugin>

    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />

    <platform name="android">
        <icon density="ldpi" src="www/dist/res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/dist/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/dist/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/dist/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/dist/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/dist/res/icon/android/drawable-xxxhdpi-icon.png" />
    </platform>
</widget>
